<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Helden
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Helden</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Helden page"></app-explore-container>
  <app-heroes [heroes]="heroes"></app-heroes>

  <ion-list>
    @for (hero of heroes; track hero.id) {
      <ion-item>
        <ion-label>
          {{hero.name}}
        </ion-label>
      </ion-item>
    }
  </ion-list>


</ion-content>
