<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Helden
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="addHero()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-explore-container name="Helden page"></app-explore-container>
  <app-heroes [heroes]="heroes"></app-heroes>

  <ion-list>
    @for (hero of heroes; track hero.id) {
      <ion-item-sliding>
        <ion-item (click)="viewDetails()">
            <ion-label>
              {{hero.name}}
            </ion-label>
          <ion-text>
            {{hero.id}}
          </ion-text>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option>
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>


</ion-content>
